html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.full_screen_parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full_screen_child {
  flex: 1;
}

.alertComponent {
  margin-bottom: 0;
}

footer {
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
}